@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@import "maplibre-gl/dist/maplibre-gl.css";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-brand-50: #f0f9ff;
  --color-brand-100: #e0f2fe;
  --color-brand-200: #bae6fd;
  --color-brand-300: #7dd3fc;
  --color-brand-400: #38bdf8;
  --color-brand-500: #0ea5e9;
  --color-brand-600: #0284c7;
  --color-brand-700: #0369a1;
  --color-brand-800: #075985;
  --color-brand-900: #0c4a6e;

  --animate-fade-in-up: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-slate-800);
    background-color: var(--color-slate-50);
    font-family: var(--font-sans);
  }
}

.glass {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.hero-pattern {
  background-color: #0f172a;
  background-image: radial-gradient(at 0% 0%, hsla(217, 100%, 50%, 0.3) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(189, 100%, 56%, 0.3) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(256, 100%, 70%, 0.3) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(320, 100%, 50%, 0.3) 0px, transparent 50%);
}